<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<% if @slide.get_next_slide %>
<%= link_to "Next Slide", "/presentations/#{@slide.presentation.id}/slides/#{@slide.get_next_slide.id}" %>
<% end %>
<br>
<% if @slide.get_previous_slide %>
<%= link_to "Previous Slide", "/presentations/#{@slide.presentation.id}/slides/#{@slide.get_previous_slide.id}" %>
<% end %>
