<h1>Editing presentation</h1>

<%= render 'form' %>

<%= link_to 'Show', @presentation %> |
<%= link_to 'Back', presentations_path %>

<%= render 'slides/list_slides' %>

<%= link_to 'New Slide', new_presentation_slide_path(@presentation) %>