<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @presentation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @presentation.description %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>


<%= render 'slides/list_slides' %>

<%= link_to 'New Slide', new_presentation_slide_path(@presentation) %>